@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --background-green: #a9dd86;
    --background-blue: #a0c2eb;
}

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    
}

body {
<<<<<<< HEAD
    background-color: var(--background-green);
    background-image: url("../images/fall-fly-fishing.jpg");
=======
    background-color: var(--background-blue);
>>>>>>> d6e14c696c9c60ad727dfa739e43ac82a43abe00
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

h2 {
    justify-content: center;
}


.san-juan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url("../images/san-juan.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.poudre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url("../images/poudre.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
